<mat-card>
    <mat-card-header>
      <div>
        <mat-card-title>{{ titleInfo }}</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="dataForm">
        <!-- Basic Information Card -->
        <mat-card class="shipping-card">
          <mat-card-header>
            <mat-card-title>Reservation Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="full-width" style="width: 32%; margin-right: 2%;">
              <mat-label>Portal Item ID</mat-label>
              <input matInput type="number" id="portalItemId" formControlName="portalItemId" class="form-control" placeholder="Enter Portal Item ID">
            </mat-form-field>
            <mat-form-field class="full-width" style="width: 32%; margin-right: 2%;">
              <mat-label>Transaction Type</mat-label>
              <input matInput type="text" id="transactionType" formControlName="transactionType" class="form-control" placeholder="Enter Transaction Type">
            </mat-form-field>
            <mat-form-field class="full-width" style="width: 32%;">
              <mat-label>Date Received</mat-label>
              <input matInput type="date" id="dateReceived" formControlName="dateReceived" class="form-control">
            </mat-form-field>
          </mat-card-content>
          <mat-card-content>
            <mat-form-field class="full-width" style="width: 32%; margin-right: 2%;">
              <mat-label>Customer Name</mat-label>
              <input matInput type="text" id="customerName" formControlName="customerName" class="form-control" placeholder="Enter Customer Name">
            </mat-form-field>
            <mat-form-field class="full-width" style="width: 32%; margin-right: 2%;">
              <mat-label>Contact No</mat-label>
              <input matInput type="text" id="contactNo" formControlName="contactNo" class="form-control" placeholder="Enter Contact Number">
            </mat-form-field>
            <mat-form-field class="full-width" style="width: 32%;">
              <mat-label>Contact Email</mat-label>
              <input matInput type="email" id="contactEmail" formControlName="contactEmail" class="form-control" placeholder="Enter Contact Email">
            </mat-form-field>
          </mat-card-content>
        </mat-card>

        <!-- Reservation Data Card -->
        <mat-card class="shipping-card" style="margin-top: 20px;">
          <mat-card-header>
            <mat-card-title>Pickup & Destination Information</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="full-width" style="width: 48%; margin-right: 2%;">
              <mat-label>Pickup Location</mat-label>
              <input matInput type="text" id="pickupLocation" formControlName="pickupLocation" class="form-control" placeholder="Enter Pickup Location">
            </mat-form-field>
            <mat-form-field class="full-width" style="width: 48%;">
              <mat-label>Pickup Info</mat-label>
              <input matInput type="text" id="pickupInfo" formControlName="pickupInfo" class="form-control" placeholder="Enter Pickup Info">
            </mat-form-field>
          </mat-card-content>
          <mat-card-content>
            <mat-form-field class="full-width" style="width: 48%; margin-right: 2%;">
              <mat-label>Pickup Date</mat-label>
              <input matInput type="date" id="pickupDate" formControlName="pickupDate" class="form-control">
            </mat-form-field>
            <mat-form-field class="full-width" style="width: 48%;">
              <mat-label>Pickup Time</mat-label>
              <input matInput type="time" id="pickupTime" formControlName="pickupTime" class="form-control">
            </mat-form-field>
          </mat-card-content>
          <mat-card-content>
            <mat-form-field class="full-width" style="width: 48%; margin-right: 2%;">
              <mat-label>Destination Area</mat-label>
              <input matInput type="text" id="destinationArea" formControlName="destinationArea" class="form-control" placeholder="Enter Destination Area">
            </mat-form-field>
            <mat-form-field class="full-width" style="width: 48%;">
              <mat-label>Destination Info</mat-label>
              <input matInput type="text" id="destinationInfo" formControlName="destinationInfo" class="form-control" placeholder="Enter Destination Info">
            </mat-form-field>
          </mat-card-content>
          <mat-card-content>
            <mat-form-field class="full-width" style="width: 23%; margin-right: 2%;">
              <mat-label>Number of Days</mat-label>
              <input matInput type="number" id="numberOfDays" formControlName="numberOfDays" class="form-control" placeholder="Enter Number of Days">
            </mat-form-field>
            <mat-form-field class="full-width" style="width: 23%; margin-right: 2%;">
              <mat-label>Base Currency</mat-label>
              <input matInput type="text" id="baseCurrency" formControlName="baseCurrency" class="form-control" placeholder="Enter Currency Code">
            </mat-form-field>
            <mat-form-field class="full-width" style="width: 23%; margin-right: 2%;">
              <mat-label>Base Rate</mat-label>
              <input matInput type="number" step="0.01" id="baseRate" formControlName="baseRate" class="form-control" placeholder="Enter Base Rate">
            </mat-form-field>
            <mat-form-field class="full-width" style="width: 23%;">
              <mat-label>Calculated Cost</mat-label>
              <input matInput type="number" step="0.01" id="calculatedCost" formControlName="calculatedCost" class="form-control" placeholder="Enter Calculated Cost">
            </mat-form-field>
          </mat-card-content>
        </mat-card>


        <mat-card class="shipping-card">
          <mat-card-header>
            <mat-card-title>Reservation Status</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="full-width" style="width: 48%;">
              <mat-label>Status</mat-label>
              <mat-select id="status" formControlName="status">
                <mat-option *ngFor="let status of statusOptions" [value]="status">
                  {{ status }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
        </mat-card>



      </form>

    </mat-card-content>
    <mat-card-actions>

      <div *ngIf="!showAddBtn">
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      </div>

      <div *ngIf="showAddBtn">
        <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
      </div>

      <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>

      <!-- Update Message Alert -->
      <span *ngIf="showUpdateMessage" [ngClass]="isUpdateSuccess ? 'alert-success' : 'alert-error'" class="update-message">
        {{ updateMessage }}
      </span>
    </mat-card-actions>
  </mat-card>

