<p>samples2 works!</p>


<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>


<h2>Material Table</h2>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="customers" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dataInfo.name}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dataInfo.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.custStatus.referenceInfo.display }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<nav>
  <a class="button"
     routerLink="/Sample01"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
     Sample01
  </a>
  <a class="button"
     routerLink="/Sample02"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
     Sample02
  </a>
</nav>
