.vs/Erp2025/FileContentIndex/03c80019-088c-4edc-8c99-cba7e0372395.vsidx
*.vsidx
*.dll
*.dll
/Erp.Domain/obj/Debug
/.vs/Erp2025/CopilotIndices
/.vs/Erp2025/DesignTimeBuild
/Erp.Domain/bin/Debug
/Erp.Mvc01/obj/Debug
/Erp.Domain/obj
/Erp.Application/obj/Debug
/Erp.Application/bin/Debug
/BlazorUI/obj/Debug
/Erp.Infrastructure/obj/Debug
/BlazorUI/obj
/.vs/Erp2025/CopilotIndices
/Erp.Domain/bin
/BlazorUI/bin
