/.vs
/AngularApp1/AngularApp1.Server/obj
/AngularApp1/AngularApp1.Server/obj/Debug
/Erp.Component/bin
/Erp.Component/obj
/Erp.Domain/bin
/Erp.Domain/obj
/Erp2025/bin
/AngularApp1/AngularApp1.Server/obj
/Erp2025/obj
/.vs/Erp2025/CopilotIndices
/.vs/Erp2025/DesignTimeBuild
/AngularApp1/AngularApp1.Server/obj
/Scaffolding/Erp.Domain/bin
/Scaffolding/Erp.Domain/obj
/AngularApp1/AngularApp1.Server/obj
/AngularApp1/AngularApp1.Server/obj
/.vs
/AngularApp1/AngularApp1.Server/obj
.vs/Erp2025/CopilotIndices/17.13.430.18484/SemanticSymbols.db
.vs/Erp2025/CopilotIndices/17.13.430.18484/CodeChunks.db
/Erp.Domain/obj
/Erp.Domain/bin/Debug
*.dll
