<div [ngSwitch]="currentView">

  <!-- List View -->
  <div *ngSwitchCase="'list'">
    <app-payment-list
      [payments]="payments"
      [dataloading]="dataloading"
      [defaultFilterMode]="defaultFilterMode"
      (addRecordClicked)="onAddRecord($event)"
      (editRecordClicked)="onEditRecord($event)"
      (deleteRecordClicked)="onDeleteRecord($event)">
    </app-payment-list>
  </div>

  <!-- Form View -->
  <div *ngSwitchCase="'form'">
    <app-payment-form
      [payment]="selectedPayment"
      [defaultMode]="selectedMode"
      [dataloading]="dataloading"
      (saveRecordClicked)="onSaveRecord($event)"
      (cancelClicked)="onCancelForm()">
    </app-payment-form>
  </div>

</div>
