<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="forecasts">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Remarks</th>
            <th>Date Created</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{ customer.id }}</td>
            <td>{{ customer.dataInfo.name }}</td>
            <td>{{ customer.dataInfo.description }}</td>
            <td>{{ customer.custStatus.referenceInfo.display }}</td>
            <td>{{ customer.dataInfo.remarks }}</td>
            <td>{{ customer.recordInfo.dtCreated }}</td>
            <td>{{ customer.recordInfo.createdBy }}</td>
        </tr>
    </tbody>
</table>

<p>{{ _error }}</p>
