@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Agents </h5>
                <p class="card-text">Agents lists</p>
                <a href="/Agents" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Agents Bin</h5>
                <p class="card-text">Agents Bin</p>
                <a href="/AgentBins" class="btn btn-primary">Go to List</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Agents Instructions</h5>
                <p class="card-text">Agents Instructions Lists</p>
                <a href="/AgentInstructions" class="btn btn-primary">Go to List</a>
            </div>
        </div>
    </div>
</div>

