
<mat-card class="chat-card">
  <mat-card-header>
    <mat-card-title>Agent Chat</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <textarea matInput
                    placeholder=""
                    [(ngModel)]="ChatMessage"
                    name="chatMessage"
                    [rows]="chatRows"
                    #chatArea></textarea>
          <!-- Validation removed since we're not using Reactive Forms here -->
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <textarea matInput
                    placeholder="Type your message"
                    [(ngModel)]="userChatMessage"
                    name="userChatMessage"
                    (keydown.enter)="onKeydownEnter($event)"
                    [rows]="userChatRows"></textarea>
          <!-- Validation removed since we're not using Reactive Forms here -->
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onClickClearMessage()">Clear Chat</button>
    <button mat-raised-button color="primary" (click)="onClickSubmitMessage()">Submit</button>
  </mat-card-actions>
</mat-card>
