@page "/itemtypes/create"
@using Microsoft.EntityFrameworkCore
@using Erp.Domain.Models
@inject IDbContextFactory<Erp2025.Data.Erp2025Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>ItemType</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="ItemType" OnValidSubmit="AddItemType" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="ItemType.Name" class="form-control" /> 
                <ValidationMessage For="() => ItemType.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="ItemType.Description" class="form-control" /> 
                <ValidationMessage For="() => ItemType.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="remarks" class="form-label">Remarks:</label> 
                <InputText id="remarks" @bind-Value="ItemType.Remarks" class="form-control" /> 
                <ValidationMessage For="() => ItemType.Remarks" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="code" class="form-label">Code:</label> 
                <InputText id="code" @bind-Value="ItemType.Code" class="form-control" /> 
                <ValidationMessage For="() => ItemType.Code" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="sortorder" class="form-label">SortOrder:</label> 
                <InputNumber id="sortorder" @bind-Value="ItemType.SortOrder" class="form-control" /> 
                <ValidationMessage For="() => ItemType.SortOrder" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="itemtypeclassid" class="form-label">ItemTypeClassId:</label> 
                <InputNumber id="itemtypeclassid" @bind-Value="ItemType.ItemTypeClassId" class="form-control" /> 
                <ValidationMessage For="() => ItemType.ItemTypeClassId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/itemtypes">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private ItemType ItemType { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddItemType()
    {
        using var context = DbFactory.CreateDbContext();
        context.ItemType.Add(ItemType);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/itemtypes");
    }
}
