<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="showEdit" (click)="onActionClicked(MenuActionTypes.editRecord)">{{editTitle}}</button>
  <button mat-menu-item (click)="onActionClicked(MenuActionTypes.editDetails)">Edit Details</button>
  <button mat-menu-item (click)="onActionClicked(MenuActionTypes.archive)">Archive</button>
  <button mat-menu-item (click)="onActionClicked(MenuActionTypes.customActionA)">Custom</button>
  <button mat-menu-item (click)="onActionClicked(MenuActionTypes.customActionB)">Custom</button>
</mat-menu>

