@page "/refcities"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Erp.Domain.Models
@using Erp2025.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Erp2025.Data.Erp2025Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="refcities/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.RefCity">
    <PropertyColumn Property="refcity => refcity.Name" />
    <PropertyColumn Property="refcity => refcity.Description" />
    <PropertyColumn Property="refcity => refcity.Remarks" />
    <PropertyColumn Property="refcity => refcity.Code" />
    <PropertyColumn Property="refcity => refcity.SortOrder" />
    <PropertyColumn Property="refcity => refcity.CountryId" />
    <PropertyColumn Property="refcity => refcity.RefCountryId" />

    <TemplateColumn Context="refcity">
        <a href="@($"refcities/edit?id={refcity.Id}")">Edit</a> |
        <a href="@($"refcities/details?id={refcity.Id}")">Details</a> |
        <a href="@($"refcities/delete?id={refcity.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Erp2025Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
