
<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())"> 
    <mat-icon>menu</mat-icon>
  </button>
  <h4 class="App-Title">
      MyApp2025
  </h4>
</mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav opened mode="side"  [style.width]="sidenavWidth()"> 
            <app-navigation [collapsed]="collapsed()"> 

            </app-navigation>
        </mat-sidenav>
        <mat-sidenav-content class="content"  [style.margin-left]="sidenavWidth()">
            <router-outlet>
               
            </router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
