
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <ui-page-title [title]="'Countries'"></ui-page-title>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-entity-list-table #ListTable
            (addRecordClicked)="onAddRecord()"
            [showEdit]="showEdit"
            [editTitle]="'Edit Country'"
            (editRecordClicked)="onEdit($event)"
            (onEditDetails)="onEditDetails($event)"
            (onArchiveRecord)="onArchive($event)"
            [tableFields] = "tableFields">

    </app-entity-list-table>
  </mat-card-content>
</mat-card>
