<mat-card>
  <mat-card-header>
    <mat-card-title>City Info</mat-card-title> 
    <div *ngIf="ShowAddBtn">
      <mat-card-title> - ADD</mat-card-title> 
    </div>
    <div *ngIf="!ShowAddBtn">
      <mat-card-title> - UPDATE</mat-card-title> 
    </div>
  </mat-card-header>
  <mat-card-content>
    <app-entity-form #entityForm
                     *ngIf="!dataloading"
                     [modelData]="currentData">
    </app-entity-form>
  </mat-card-content>
  <mat-card-actions>

    <div *ngIf="!ShowAddBtn">
      <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
    
    <div *ngIf="ShowAddBtn">
        <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
    </div>
    
  </mat-card-actions>
</mat-card>
