<mat-card>
  <mat-card-header>
    <div>
      <mat-card-title  *ngIf="ShowAddBtn">Add - </mat-card-title> 
    </div>
    <div>
      <mat-card-title  *ngIf="!ShowAddBtn">Update - </mat-card-title> 
    </div>
    <div>
      <mat-card-title> City Info</mat-card-title> 
    </div>
  </mat-card-header>
  <mat-card-content>
    <app-entity-form #entityForm
                     *ngIf="!dataloading"
                     [modelData]="currentData">
    </app-entity-form>
  </mat-card-content>
  <mat-card-actions>

    <div *ngIf="!ShowAddBtn">
      <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
    
    <div *ngIf="ShowAddBtn">
        <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
    </div>
    
    <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
