@using Microsoft.AspNetCore.Components.Web
@using Erp.Component

@if (Show)
{

    <div class="dialog-container">
        <div class="dialog">
            <div class="dialog-title">
                <h2>@Title</h2>
            </div>

            <div class="dialog-body">
                @ChildContent
            </div>
            <p>
                <button class="btn btn-success mr-auto" @onclick="(e)=>OnClickCallback.InvokeAsync((e,SampleDataValues[0]))">
                    Value 1
                </button>
            </p>
            <p>
                <button class="btn btn-success mr-auto" @onclick="(e)=>OnClickCallback.InvokeAsync((e,SampleDataValues[1]))">
                    Value 2
                </button>
            </p>
            
            <div class="dialog-buttons">
                <button class="btn btn-secondary mr-auto" @onclick="OnCancel">@CancelText</button>
                <button class="btn btn-success ml-auto" @onclick="OnConfirm">@ConfirmText</button>
            </div>



        </div>
    </div>

}

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string CancelText { get; set; } = "Cancel";

    [Parameter]
    public string ConfirmText { get; set; } = "Ok";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Show { get; set; }


    [Parameter] 
    public EventCallback<MouseEventArgs> OnCancel { get; set; }
    
    [Parameter] 
    public EventCallback<MouseEventArgs> OnConfirm { get; set; }

    [Parameter]
    public EventCallback<(MouseEventArgs,string)> OnClickCallback { get; set; }

    string[] SampleDataValues = new string[] { "Value 1", "Value 2" };

}