<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ TitleInfo }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div *ngIf="jobDescription" class="job-description-section">
      <mat-card class="description-card">
        <mat-card-content>
          <p>Job Description</p>
          <strong>{{ jobDescription }}</strong>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="job-details-section">
      <mat-card>
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Details">
              <app-job-main-details (descriptionChanged)="onDescriptionChanged($event)">

              </app-job-main-details>
            </mat-tab>
            <mat-tab label="Customers">
              <app-job-main-customer [jobMainId]="paramId">

              </app-job-main-customer>
            </mat-tab>
            <mat-tab label="Services">
              <app-job-main-services>

              </app-job-main-services>
            </mat-tab>
            <mat-tab label="Status">
              <app-job-main-status-list>

              </app-job-main-status-list>
            </mat-tab>
            <mat-tab label="Activities"> Activities </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <button mat-raised-button (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        Back to List
      </button>
    </div>

  </mat-card-content>
</mat-card>

