@page "/contacts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Erp.Domain.Models
@using Erp2025.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Erp2025.Data.Erp2025Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="contacts/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Contact">
    <PropertyColumn Property="contact => contact.Name" />
    <PropertyColumn Property="contact => contact.Remarks" />
    <PropertyColumn Property="contact => contact.ContactNo1" />
    <PropertyColumn Property="contact => contact.ContactNo2" />
    <PropertyColumn Property="contact => contact.Address1" />
    <PropertyColumn Property="contact => contact.Address2" />
    <PropertyColumn Property="contact => contact.Email1" />
    <PropertyColumn Property="contact => contact.Email2" />
    <PropertyColumn Property="contact => contact.CityId" />
    <PropertyColumn Property="contact => contact.CountryId" />
    <PropertyColumn Property="contact => contact.CreatedBy" />
    <PropertyColumn Property="contact => contact.CreatedOn" />
    <PropertyColumn Property="contact => contact.LastEditBy" />
    <PropertyColumn Property="contact => contact.LastEditOn" />
    <PropertyColumn Property="contact => contact.IsArchived" />
    <PropertyColumn Property="contact => contact.IsPrivate" />
    <PropertyColumn Property="contact => contact.IsActive" />

    <TemplateColumn Context="contact">
        <a href="@($"contacts/edit?id={contact.Id}")">Edit</a> |
        <a href="@($"contacts/details?id={contact.Id}")">Details</a> |
        <a href="@($"contacts/delete?id={contact.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Erp2025Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
