@page "/contacts/create"
@using Microsoft.EntityFrameworkCore
@using Erp.Domain.Models
@inject IDbContextFactory<Erp2025.Data.Erp2025Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Contact</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Contact" OnValidSubmit="AddContact" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Contact.Name" class="form-control" /> 
                <ValidationMessage For="() => Contact.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="remarks" class="form-label">Remarks:</label> 
                <InputText id="remarks" @bind-Value="Contact.Remarks" class="form-control" /> 
                <ValidationMessage For="() => Contact.Remarks" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="contactno1" class="form-label">ContactNo1:</label> 
                <InputText id="contactno1" @bind-Value="Contact.ContactNo1" class="form-control" /> 
                <ValidationMessage For="() => Contact.ContactNo1" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="contactno2" class="form-label">ContactNo2:</label> 
                <InputText id="contactno2" @bind-Value="Contact.ContactNo2" class="form-control" /> 
                <ValidationMessage For="() => Contact.ContactNo2" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="address1" class="form-label">Address1:</label> 
                <InputText id="address1" @bind-Value="Contact.Address1" class="form-control" /> 
                <ValidationMessage For="() => Contact.Address1" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="address2" class="form-label">Address2:</label> 
                <InputText id="address2" @bind-Value="Contact.Address2" class="form-control" /> 
                <ValidationMessage For="() => Contact.Address2" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="email1" class="form-label">Email1:</label> 
                <InputText id="email1" @bind-Value="Contact.Email1" class="form-control" /> 
                <ValidationMessage For="() => Contact.Email1" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="email2" class="form-label">Email2:</label> 
                <InputText id="email2" @bind-Value="Contact.Email2" class="form-control" /> 
                <ValidationMessage For="() => Contact.Email2" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Contact.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Contact.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdon" class="form-label">CreatedOn:</label> 
                <InputDate id="createdon" @bind-Value="Contact.CreatedOn" class="form-control" /> 
                <ValidationMessage For="() => Contact.CreatedOn" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lasteditby" class="form-label">LastEditBy:</label> 
                <InputText id="lasteditby" @bind-Value="Contact.LastEditBy" class="form-control" /> 
                <ValidationMessage For="() => Contact.LastEditBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lastediton" class="form-label">LastEditOn:</label> 
                <InputDate id="lastediton" @bind-Value="Contact.LastEditOn" class="form-control" /> 
                <ValidationMessage For="() => Contact.LastEditOn" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="isarchived" class="form-label">IsArchived:</label> 
                <InputCheckbox id="isarchived" @bind-Value="Contact.IsArchived" class="form-check-input" /> 
                <ValidationMessage For="() => Contact.IsArchived" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="isprivate" class="form-label">IsPrivate:</label> 
                <InputCheckbox id="isprivate" @bind-Value="Contact.IsPrivate" class="form-check-input" /> 
                <ValidationMessage For="() => Contact.IsPrivate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="isactive" class="form-label">IsActive:</label> 
                <InputCheckbox id="isactive" @bind-Value="Contact.IsActive" class="form-check-input" /> 
                <ValidationMessage For="() => Contact.IsActive" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="typeid" class="form-label">TypeId:</label> 
                <InputNumber id="typeid" @bind-Value="Contact.TypeId" class="form-control" /> 
                <ValidationMessage For="() => Contact.TypeId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="statusid" class="form-label">StatusId:</label> 
                <InputNumber id="statusid" @bind-Value="Contact.StatusId" class="form-control" /> 
                <ValidationMessage For="() => Contact.StatusId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="refcityid" class="form-label">RefCityId:</label> 
                <InputNumber id="refcityid" @bind-Value="Contact.RefCityId" class="form-control" /> 
                <ValidationMessage For="() => Contact.RefCityId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/contacts">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Contact Contact { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddContact()
    {
        using var context = DbFactory.CreateDbContext();
        context.Contact.Add(Contact);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/contacts");
    }
}
