@page "/entities"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Erp.Domain.Models
@using Erp2025.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Erp2025.Data.Erp2025Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="entities/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Entity">
    <PropertyColumn Property="entity => entity.Name" />
    <PropertyColumn Property="entity => entity.Description" />
    <PropertyColumn Property="entity => entity.Remarks" />
    <PropertyColumn Property="entity => entity.Code" />
    <PropertyColumn Property="entity => entity.SortOrder" />
    <PropertyColumn Property="entity => entity.ContactNo1" />
    <PropertyColumn Property="entity => entity.ContactNo2" />
    <PropertyColumn Property="entity => entity.Address1" />
    <PropertyColumn Property="entity => entity.Address2" />
    <PropertyColumn Property="entity => entity.Email1" />
    <PropertyColumn Property="entity => entity.Email2" />
    <PropertyColumn Property="entity => entity.CreatedBy" />
    <PropertyColumn Property="entity => entity.CreatedOn" />
    <PropertyColumn Property="entity => entity.LastEditBy" />
    <PropertyColumn Property="entity => entity.LastEditOn" />
    <PropertyColumn Property="entity => entity.IsArchived" />
    <PropertyColumn Property="entity => entity.IsPrivate" />
    <PropertyColumn Property="entity => entity.IsActive" />
    <PropertyColumn Property="entity => entity.EntityTypeId" />
    <PropertyColumn Property="entity => entity.EntityStatusId" />
    <PropertyColumn Property="entity => entity.BusinessUnitId" />
    <PropertyColumn Property="entity => entity.RefCityId" />

    <TemplateColumn Context="entity">
        <a href="@($"entities/edit?id={entity.Id}")">Edit</a> |
        <a href="@($"entities/details?id={entity.Id}")">Details</a> |
        <a href="@($"entities/delete?id={entity.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Erp2025Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
