

<mat-card class="main-card">
    <h2>Register New User</h2>
    <mat-card-content>
        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" name="Username" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field  class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" name="Username" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field  class="full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="text" name="Username" />
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-raised-button color="primary" type="submit">Register</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>