@page "/customers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Erp.Domain.Models
@using Erp2025.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Erp2025.Data.Erp2025Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="customers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Customer">
    <PropertyColumn Property="customer => customer.Name" />
    <PropertyColumn Property="customer => customer.Remarks" />
    <PropertyColumn Property="customer => customer.ContactNo1" />
    <PropertyColumn Property="customer => customer.ContactNo2" />
    <PropertyColumn Property="customer => customer.Address1" />
    <PropertyColumn Property="customer => customer.Address2" />
    <PropertyColumn Property="customer => customer.Email1" />
    <PropertyColumn Property="customer => customer.Email2" />
    <PropertyColumn Property="customer => customer.CityId" />
    <PropertyColumn Property="customer => customer.CountryId" />
    <PropertyColumn Property="customer => customer.CreatedBy" />
    <PropertyColumn Property="customer => customer.CreatedOn" />
    <PropertyColumn Property="customer => customer.LastEditBy" />
    <PropertyColumn Property="customer => customer.LastEditOn" />
    <PropertyColumn Property="customer => customer.IsArchived" />
    <PropertyColumn Property="customer => customer.IsPrivate" />
    <PropertyColumn Property="customer => customer.IsActive" />

    <TemplateColumn Context="customer">
        <a href="@($"customers/edit?id={customer.Id}")">Edit</a> |
        <a href="@($"customers/details?id={customer.Id}")">Details</a> |
        <a href="@($"customers/delete?id={customer.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Erp2025Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
