@page "/refcountries"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Erp.Domain.Models
@using Erp2025.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Erp2025.Data.Erp2025Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="refcountries/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.RefCountry">
    <PropertyColumn Property="refcountry => refcountry.Name" />
    <PropertyColumn Property="refcountry => refcountry.Description" />
    <PropertyColumn Property="refcountry => refcountry.Remarks" />
    <PropertyColumn Property="refcountry => refcountry.Code" />
    <PropertyColumn Property="refcountry => refcountry.SortOrder" />

    <TemplateColumn Context="refcountry">
        <a href="@($"refcountries/edit?id={refcountry.Id}")">Edit</a> |
        <a href="@($"refcountries/details?id={refcountry.Id}")">Details</a> |
        <a href="@($"refcountries/delete?id={refcountry.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Erp2025Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
