<mat-card>
  <mat-card-header>
    <mat-card-title>Entity List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="dataloading">Loading...</div>
    <div>

    <app-entity-list-table #ListTable
                          (addRecordClicked)="onAddRecord()"
                          [showEdit]="showEdit"
                          [editTitle]="'Edit'"
                          (editRecordClicked)="onEdit($event)"
                          (onEditDetails)="onEditDetails($event)"
                          (onArchiveRecord)="onArchive($event)"
                          [tableFields]="tableFields">

    </app-entity-list-table>
    </div>
  </mat-card-content>
</mat-card>
