<div class="cell-content" *ngIf="items.length > 0">
  <!-- Compact Mode -->
  <div *ngIf="viewMode === 'compact'" class="compact-view">
    <div *ngFor="let item of items" 
         class="cell-item compact"
         [matTooltip]="getItemTooltip(item)"
         matTooltipPosition="above">
      <mat-icon 
        class="item-icon" 
        [style.color]="getItemIconColor(item.itemType)">
        {{ getItemIcon(item.itemType) }}
      </mat-icon>
      <span class="item-qty-compact">{{ item.requiredQty }}</span>
    </div>
  </div>

  <!-- Expanded Mode -->
  <div *ngIf="viewMode === 'expanded'" class="expanded-view">
    <div *ngFor="let item of items" 
         class="cell-item expanded"
         [matTooltip]="getItemTooltip(item)"
         matTooltipPosition="above">
      <div class="item-header">
        <mat-icon 
          class="item-icon-expanded" 
          [style.color]="getItemIconColor(item.itemType)">
          {{ getItemIcon(item.itemType) }}
        </mat-icon>
        <div class="item-type">{{ item.itemType }}</div>
      </div>
      <div class="item-qty">Qty: {{ item.requiredQty }}</div>
      <div class="item-job" *ngIf="item.jobReference">{{ item.jobReference }}</div>
      <div class="item-notes" *ngIf="item.notes">{{ item.notes }}</div>
    </div>
  </div>
</div>
