/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* my Styles */
.app-right-panel{
    background-color: gray;
}
.app-main-page{
    background-color: gray;
    opacity: 100%;
    margin: 0px;
    padding: 10px;
    height: 90vh;
}

.app-page-container{
    background-color: lightblue;
    padding:10px;
    margin:10px;
    border-width: 1px;
    border-radius: 4px;
    border-color: gray;
    border-style: solid;
    text-align: left;

}

.app-data-container{
    background-color: lightgray;
    padding:10px;
    margin:10px;
    border-width: 2px;
    border-radius: 4px;
    border-color: gray;
    border-style: solid;
}