
<div class="MenuContainer" >
  <ng-container #name *ngFor="let group of menuItems">
    <div class="MenuGroup">{{group.name}}</div>

    <nav *ngFor="let item of group.children">
      <div class="MenuItem">
        <a class="button" [routerLink]="item.linkUrl" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
          {{item.name}}
        </a>
      </div>
    </nav>

    <!-- <mat-list>
      <mat-list-item role="listitem"  *ngFor="let item of group.children">
        <a class="button" [routerLink]="item.linkUrl" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        {{item.name}}
      </a></mat-list-item>
    </mat-list> -->

    </ng-container>


</div>
